.profile__avatar-edit {
  background-image: url(../../../images/profile/vector-2.svg);
  width: 26px;
  height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 40%;
  right: 50%;
  opacity: 0;
  cursor: pointer;
}
