.popup__button {
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
    right: -54px;
    background-image: url('../../../images/close.svg');
    background-size: 32px 32px;
    margin: 0 0 0 auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}


.popup__button:hover {
    opacity: 0.8;
}



@media screen and (max-width: 767px) { 
    .popup__button {
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        background-size: 20px 20px;
        margin-bottom: 13px;
    }
}