.popup__close {
  background-image: url(../../../images/popup/closeIcone.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .popup__close {
    width: 20px;
    max-width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
