@import url(../vendor/normalize.css);
@import url(../vendor/font/Inter-3/InterWeb/inter.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__redact/profile__redact.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/cards/__card/cards__card.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__item/card__item.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__block/card__block.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/form/__header/form__header.css);
@import url(../blocks/form/__text/form__text.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/footer/__author/footer__author.css);
