.profile__avatar-container {
  position: relative;
}

.profile__avatar-container:hover .profile__avatar-edit {
  opacity: 1;
  transition: .5s ease;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.8;
  transition: .5s ease;
}

@media screen and (max-width: 650px) {
  .profile__avatar-container {
    margin: 0 auto 26px;
  }
