.card__delete {
  background-image: url(../../../images/cards/delete.svg);
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete:hover {
  opacity: 0.6;
}
